.section_detail_episode{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.wrapper_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.episode_num{ 
    padding: 0 10px;
    color: aliceblue;
    background-color: #3fb2b6;
    border-radius: 20px;
}

.list_characters{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.episode_character{
    padding: 0 10px;
    color: #cedf50;
    border-radius: 20px;
    transition: all 200ms linear;
}

.episode_character:nth-child(even) {
    background-color: #3fb2b6;
}
.episode_character:nth-child(odd) {
    background-color: #218733;
}

.episode_character:hover{
    color:#218733;
    background-color: aliceblue;
    transform: scale(1.03);
}


/* 
.episode_character:nth-child(odd):hover{
    color:aliceblue;
    transform: scale(1.03);
} */

.link_charcter{
    text-decoration: none;
    color: inherit;
}