.episode_view{
display: flex;
align-items: center;
justify-content: space-between;
flex-basis: calc(50% - 50px);
}

.episode_view  a + span{
    transition: all 300ms linear ;
}

.episode_view  a:hover + span{
    /* color: #3fb2b6; */
    transform: scale(1.3);
    color: aliceblue;
}