.list_view_location{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px;
}


.location_view{
display: flex;
align-items: center;
justify-content: space-between;
flex-basis: calc(50% - 50px);
}

.location_view  a + span{
    transition: all 300ms linear ;
}

.location_view  a:hover + span{
    /* color: #3fb2b6; */
    color: aliceblue;
}