*{
  padding: 0;
  margin: 0;
}
body{
  font-size: 20px;
  background-color: #92c84a;
  color: #218733;
}
ul{
  list-style: none;
}
img{
  display: block;
}
.container{
  padding: 0 20px 0 20px;
  max-width: 1800px;
  margin: 0 auto;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link{
  text-decoration: none;
  color: aliceblue;
  background-color: #218733;
  padding: 3px;
  border-radius: 15px;
  transition: all 300ms linear;
}
.link:hover{
  color:#218733;
  background-color: aliceblue;
}

.error_btn{
  margin-top: 15px;
}
.wrapper404{
  position: relative;
  width: 100%;
  background-color: #010103;
}
.img_404{
  width: 600px;
  height: 100%;
}
.error_404{
  position: absolute;
  top: 65%;
  left: 47%;
  color: red;
  border-radius: 25px;
  font-size: 18px;
  background-color: #f0f8ff70;
  padding: 2px 20px;
}