.header{
    background-color: #92c84a;
    margin-bottom: 10px;
}
.heder_container{
    padding: 20px ;
    max-width: 1800px;
    margin: 0 auto;
    background-image: url('../../../public/img/portal.jpg');
    background-repeat:no-repeat;
    background-position:right center;
    background-size:400px;
}
.nav{
    display: flex;
    gap: 20px;
    
}

@media screen and (max-width:900px) {
    .heder_container{
        background-size:200px 100%;
    }
}
